.container {
  padding: 6rem 2rem 0;
  height: 100vh;
  display: flex;
  background-color: #ebebeb;
  flex-direction: column;
}
.buttonContainer {
  padding: 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cardPreviewContainer {
  flex: 1;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 5rem 1rem 0;
  }
  .buttonContainer {
    padding: 0 0 1rem;
    gap: 1rem;
  }

  .cardPreviewContainer {
    flex-direction: column;
  }

  .iframe {
    height: auto !important;
    max-width: 100% !important;
    aspect-ratio: 1 !important;
  }
}
