.add-site {
  width: 100%;
  max-width: 40rem;
}

.add-image-container {
  width: 100%;
  max-width: 40rem;
  border-radius: var(--alta-border-radius);
  border: var(--alta-border);
  aspect-ratio: 4/3;
  background-color: #ffffff;
  position: relative;
}

.send-btn {
  margin-top: 2rem;
}

.upload-input {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cropper {
  z-index: 51;
}

.upload-image-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.termAndConditions {
  width: 100%;
  font-family: monospace;
  resize: none;
}
